:root {
    --grey1: #333;
    --grey2: #444;
    --grey3: #555;
    --grey4: #666;
    --grey5: #777;
    --grey6: #888;
    --grey7: #999;

}

@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

html {
    font-family: henderson-slab-basic, serif;
    font-size: large;
}

body {
    margin: 0;
    transition: 0.3s all;
    overflow-x: hidden;
    background-color: black;
}

.changeColor {
    background-color: #333;
}

.changeColorWhite {
    background-color: white;
}

.screenreader-text {
    position: absolute;
    top:-9999vh
}


h1 {
    font-family: henderson-slab-basic, serif;
    font-weight: 800 !important;
    font-style: normal;
    font-size: 7vh;
    color: #333;
    text-align: center;
    position: relative;
    margin-bottom: none;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

h2 {
    font-family: "San Francisco", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
    letter-spacing: .2em;
    font-size: 6vh;
    color: black;
    font-weight: 600;
    text-align: center;
    position: relative;
    align-items: center;
    margin: 0;
}

h3 {
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    letter-spacing: .1em;
    color: #999;
    text-align: left;
    font-size: 4vh;
}

nav {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    color: #666;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    z-index: 5;
    background: rgba(0, 0, 0, 0.26);
    font-size: .6em;
    align-items: center;
}

nav .fas { 
    font-size: .5em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: rgba(231, 231, 231);
    text-decoration: none;
    margin-right: 3vw;
    font-size: large;
    font-family: "San Francisco", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
    letter-spacing: .1em;
}

.nav-links a:hover {
    color: white;
    text-decoration: none;
    margin-right: 3vw;
}

nav > a {
    transition: color .5s;
}

#home {
    position: relative;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    margin-bottom: 13vh;
    align-items: end;
    background-color: #fff;
    background-image: url('../images/IMG_7748.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	height: 100vh;
	color: white;
}

#home div {
    position: relative;
    font-size: 2em;
    color: #333;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

/* .logo {
    font-family: henderson-slab-basic, serif;
    font-size: 1.5em;
    padding-left: none;
    letter-spacing: .5em;
    font-weight: 600;
    width: 100%;
} */

#about:after {
    content: "";
    clear: both;
    display: block;
}

#about {
    height: 100vh;
    position: relative;
    padding-left: 7vw;
    padding-right: 7vw;
    overflow: hidden;
}

.about-dan {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: left;
    margin-top: 10vh;
}


.flex-left {
    display: flex;
    align-items: flex-start;
}

img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    position: relative;
    margin-top: 0;
}

.flex-right {
    display: flex;
    flex-direction: column;
    padding-left: 7vw;
    text-align: left;
}